[submodule "libopencm3"]
	path = .opencm3/libopencm3
	url = https://github.com/libopencm3/libopencm3
[submodule "printf"]
	path = src/printf
	url = https://github.com/mpaland/printf
	ignore = untracked
